@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

html, body {
  height: 100%;
  background: #212121;
}
  
  h1 {
    font-size: 32px;
    text-align: center;
  }
  
  .main {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 2em;
    text-align: center;
  }

textarea {
  width: 90%;
  text-align: left;
  margin: auto;
  font-size: 16px;
  border: 2px solid #13E3D5;
  resize: vertical;
    background-color: #212121;
}
  
  #return{
    height: 100%;
    float: left;
  }
  
  #return a {
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    font-size: 18px;
    height: 100%;
    padding: 20px;
    border: 2px solid #0D7377;
    border-radius: 40px;
    margin: 5px;
    background-color: #212121;
  }

canvas {
  border: 2px solid #13E3D5;
  border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    min-width: 20%;
    min-height: 20%;
}
  
  a {
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
    background-color: #383B56;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
  }
  
  #return a:hover {
    border: 2px solid #14FFEC;
  }
  
  .user {
    width: 100%;
    min-width: 100%;
    background-color: transparent;
    overflow: hidden;
  }
    
    .input-box {
      justify-content: center;
      position: relative;
      width: 40%;
      margin: auto;
      margin-bottom: 20px;
    }
    .input-box input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: 2px solid #0d7377;
      outline: none;
      border-radius: 40px;
      font-size: 1em;
      color: #fff;
      padding: 0 20px;
      transition: .5s ease;
    }
    .input-box input:focus,
    .input-box input:valid {
      border-color: #14FFEC;
    }
    .input-box label {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 1em;
      color: #fff;
      pointer-events: none;
      transition: .5s ease;
    }
    .input-box input:focus~label,
    .input-box input:valid~label {
      top: 1px;
      font-size: .8em;
      background: #212121;
      padding: 0 6px;
      color: #14FFEC;
    }

button, #downloadBtn {
    color:#fff;
    width: 120px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border: 2px solid #0D7377;
    border-radius: 40px;
    margin: 5px;
    background-color: #212121;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
  
button:hover, #downloadBtn:hover {
    border-color: #14FFEC;
  }


#like-button, #downloadBtn, #uComment {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
    margin: auto;
}

#uComment {

    width: 200px;

}
  
#details {
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 2em;
    width: 100%;
    min-width: 100%;
    background-color: transparent;
    overflow: hidden;
}

#grid {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

#gridT {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

#downloadBtn {
    grid-row: 1/2;
    grid-column: 1/2;
}
  
  #imgCanvas {
    object-fit: cover;
    grid-row: 1/2;
    grid-column: 1/2;
    float: left;
    margin: 10px;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    min-width: 40%;
  }
  
  #txtCanvas {
    color: #fff;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #13E3D5;
    border-radius: 10px;
    text-align: left;
  }

/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sits on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: #1A1A1A; /* Dark overlay */
}

/* Modal Content Box */
.modal-content {
position: relative;
  background-color: #212121;
  margin: 10% auto; /* Center vertically and horizontally */
  padding: 20px;
  border: 2px solid #0D7377;
  border-radius: 10px;
  width: 50%; /* Adjust the width */
  text-align: center;
}
  
  #uModal-c {
    width: 80%;
    height: 100%;
    margin: auto;
  }
  
  #arrows {
    display: grid;
    height: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .browse {
  background-color: transparent;
    border: none;
    display: inline-block;
    color: #13E3D5;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    padding: 1em;
    margin: auto;
  }
  
  #i {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
    margin: auto;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  #t {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (optional) */
    margin: auto;
    grid-row: 1/2;
    grid-column: 2/3;
  }

.modalB {
  margin: 5px;
  border: 2px solid #0D7377;
  background-color: #212121;
  border-radius: 12px;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modalB:hover {
  border-color: #14FFEC;
}

#cancel:hover {
  border-color: #ff1744;
}

#comments {
    display: flex;
    flex-direction: column; /* Stack comments vertically */
    align-items: center;    /* Center-align the comments */
    margin: 20px auto;
    width: 90%; /* Adjust width as needed */
}

.comment-div {
    border: 2px solid #13E3D5;
    border-radius: 10px;
    width: 60%;
    padding: 10px;
    margin-top: 10px;
}

.no-comments-message {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px
}

  
  @media screen and (max-width: 600px) {
  
    * {
      font-size: 12px;
    }
    
    h1 {
      font-size: 24px;
    }
  
    .main {
      margin: 2em 5em 2em 5em;
      padding: 1em;
    }

    #return a {
      width: 100px;
      font-size: 14px;
    }
  
  }
  
  @media screen and (min-width: 601px) and (max-width: 1200px) {
  
    * {
      font-size: 16px;
    }
    
    h1 {
      font-size: 20px;
    }
  
    .main {
      margin: 2em 5em 2em 5em;
      margin-bottom: 10px;
      padding: 1em;
    }
  }
