html, body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

* {
  color: #423E37;
  font-family: Verdana, sans-serif;
  background-color: #fcfcfc;
  font-size: 24px;
  text-align: center;
}

h1 {
  font-size: 32px;
  text-align: center;
}

.main {
  margin: 2em 10em 2em 10em;
  margin-bottom: 10px;
  padding: 2em;
  text-align: center;
  border: 2px solid #423E37;
  border-radius: 10px;
}

#complete {
  float: right;
  margin: 0.5em 0.5em 0 0;
}

a {
  text-decoration: none;
  width: 10%;
  padding: 10px;
  border: 2px solid #868079;
  border-radius: 10px;
  background-color: #fcfcfc;
  color: #423E37;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

a:hover {
  background-color: #ffdb99;
}

a:active {
  transition: 0.1s;
  border-color: #ffdb99;
}

.user {
min-width: 100%;
padding-bottom: 3em;
border: solid #423E37;
border-width: 0 0 2px 0;
}

#return{
float: left;
padding: 10px;
margin: 0.5em 0 0 0.5em;
}

#return a:hover {
background-color: #f56476;
}

canvas {
    border: 2px solid #423E37;
    max-width: 50%;
    max-height: 50%;
    min-width: 20%;
    min-height: 20%;
}

.sub {
  display: inline-block;
  border: 2px solid #868079;
  border-radius: 10px;
  background-color: #fcfcfc;
  color: #423E37;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.sub:hover {
  background-color: #c9cba3;
}

.sub:active {
  transition: 0.1s;
  border-color: #c9cba3;
}

#subN {
  padding: 10px;
}

.radioB input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioB label {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px;
  display: inline-block;
  border: 2px solid #868079;
  border-radius: 10px;
  background-color: #fcfcfc;
  color: #423E37;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.radioB input[type="radio"]:checked + label {
  transition: 0.1s;
  border-color: #423E37;
  background-color: #ffdb99;
}

.radioB input[type="radio"]:focus + label {
  border-color: #423E37;
}

.radioB label:hover {
  background-color: #ffdb99;
}

.radioB label:active {
  transition: 0.1s;
  border-color: #a7adca;
}

/* Modal Background */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000; /* Sits on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if needed */
  background-color: #423E37; /* Dark overlay */
}

/* Modal Content Box */
.modal-content {
  background-color: #fcfcfc;
  margin: 10% auto; /* Center vertically and horizontally */
  padding: 20px;
  border: 2px solid #423E37;
  border-radius: 10px;
  width: 50%; /* Adjust the width */
  box-shadow: 0 5px 15px #423E37;
}

/* Close Button */
.close-button {
  color: #868079;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.close-button:hover,
.close-button:focus {
  color: #423E37;
  text-decoration: none;
}

/* Text Area Styling */
textarea {
  width: 90%;
  text-align: left;
  margin: auto;
  font-size: 16px;
  border: 2px solid #423E37;
  border-radius: 5px;
  resize: vertical;
}

canvas {
  margin: auto;
  border-radius: 10px;
}

input[type="file"] {
  display: none;
}

#imgButton {
  border: 2px solid #868079;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#imgButton:hover {
  background-color: #ffdb99;
}

#imgButton:active {
  transition: 0.1s;
  border: 2px solid #ffdb99;
}

.modalB {
  padding: 10px;
  border: 2px solid #868079;
  border-radius: 10px;
  background-color: #fcfcfc;
  color: #423E37;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  cursor: pointer;
}

.modalB:active{
  border-color: #ffdb99;
}

.modalB:hover {
  background-color: #ffdb99;
}

#cancel:hover {
  background-color: #f56476;
}

#cancel:active {
  border-color: #f56476;
}

#help {
  max-width: 80%;
  margin: auto;
}

#saveText:hover {
  background-color: #c9cba3;
}

#saveText:active {
  border-color: #c9cba3;
}

.u1 {
  display: inline-block;
  margin-bottom: 10px;
  border: 2px solid #868079;
  border-radius: 10px;
  background-color: #fcfcfc;
  color: #423E37;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.u1:hover {
  background-color: #c9cba3;
}

.u1:active {
  transition: 0.1s;
  border-color: #c9cba3;
}

#displayOptions{
  display: none;
}

.badge{
  background-color: transparent;
}

#grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#imgCanvas {
  grid-row: 1/2;
  grid-column: 1/2;
  max-width: 100%;
  min-width: 80%;
}

#txtCanvas {
  grid-row: 1/2;
  grid-column: 2/3;
}

#uModal-c {
  width: 80%;
  height: 100%;
  margin: auto;
}

@media screen and (max-width: 600px) {

  * {
    font-size: 12px;
  }
  
  h1 {
    font-size: 24px;
  }

  .user {
    padding-bottom: 4em;
  }

  .main {
    margin: 2em 5em 2em 5em;
    padding: 1em;
  }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {

  * {
    font-size: 16px;
  }
  
  h1 {
    font-size: 20px;
  }

  .user {
    padding-bottom: 4em;
  }

  .main {
    margin: 2em 5em 2em 5em;
    margin-bottom: 10px;
    padding: 1em;
  }

}
